* {
  margin: 0;
  box-sizing: border-box;
}
.navbar {
  background-color: red;
  width: 100dvw;
  padding: 1rem;
}

.link {
  display: flex;
  flex-direction: row;
  justify-content: end;
}
.link a {
  text-decoration: none;
  color: white;
}
.link a span {
  margin: 1.5em;
  border: 1px solid black;
  padding: 0.5rem;
}
